{{#contentFor "styles"}}
    <link rel="stylesheet" href="/css/player.css" />
{{/contentFor}}

<div class="container">
    <div class="player_sidebar">
        <div class="player-drawing">
            <div class="player_playing">
                <div class="player">
                    <div class="player_main">
                        <div class="player_avatar"> </div>
                        <div class="player_detail">
                            <div class="player_name">Lee Tuan Kieđ</div>
                            <div class="player_score">120
                                <p class="player_score_text">pts</p>
                            </div>
                        </div>
                    </div>
                    <div class="greentick">
                        <svg
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                            fill="none"
                        >
                            <path
                                d="M4 10L8 14L16 6"
                                stroke="#28a745"
                                stroke-width="2"
                                fill="none"
                            />
                        </svg>
                    </div>
                </div>
                <div class="player">
                    <div class="player_main">
                        <div class="player_avatar"> </div>
                        <div class="player_detail">
                            <div class="player_name">Lee Tuan Kieđsdfasdfasd</div>
                            <div class="player_score">120
                                <p class="player_score_text">pts</p>
                            </div>
                        </div>
                    </div>
                    <div class="greentick">
                        <svg
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                            fill="none"
                        >
                            <path
                                d="M4 10L8 14L16 6"
                                stroke="#28a745"
                                stroke-width="2"
                                fill="none"
                            />
                        </svg>
                    </div>
                </div>
                <div class="player">
                    <div class="player_main">
                        <div class="player_avatar"> </div>
                        <div class="player_detail">
                            <div class="player_name">Lee Tuan Kieđfsafsaf</div>
                            <div class="player_score">120
                                <p class="player_score_text">pts</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="player">
                    <div class="player_main">
                        <div class="player_avatar"> </div>
                        <div class="player_detail">
                            <div class="player_name">Lee Tuan Kieđfsafsaf</div>
                            <div class="player_score">120
                                <p class="player_score_text">pts</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="player">
                    <div class="player_main">
                        <div class="player_avatar"> </div>
                        <div class="player_detail">
                            <div class="player_name">Lee Tuan Kieđfsafsaf</div>
                            <div class="player_score">120
                                <p class="player_score_text">pts</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="player">
                    <div class="player_main">
                        <div class="player_avatar"> </div>
                        <div class="player_detail">
                            <div class="player_name">Lee Tuan Kieđfsafsaf</div>
                            <div class="player_score">120
                                <p class="player_score_text">pts</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="player">
                    <div class="player_main">
                        <div class="player_avatar"> </div>
                        <div class="player_detail">
                            <div class="player_name">Lee Tuan Kieđfsafsaf</div>
                            <div class="player_score">120
                                <p class="player_score_text">pts</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="player">
                    <div class="player_main">
                        <div class="player_avatar"> </div>
                        <div class="player_detail">
                            <div class="player_name">Lee Tuan Kieđfsafsaf</div>
                            <div class="player_score">120
                                <p class="player_score_text">pts</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="player">
                    <div class="player_main">
                        <div class="player_avatar"> </div>
                        <div class="player_detail">
                            <div class="player_name">Lee Tuan Kieđfsafsaf</div>
                            <div class="player_score">120
                                <p class="player_score_text">pts</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player_navigate">
            <button class="player_buttons out">Out game</button>
            <button class="player_buttons share">Share</button>
        </div>
    </div>
    <section class="drawing-board">
        <canvas></canvas>
    </section>
    <div class="tools">
        <section class="tools-board">
            <div class="row">
                <label class="title"><strong>Options</strong></label>
                <ul class="options">
                    <li class="option active tool" id="brush">
                        <img src="./assets/icons/brush.svg" alt="" />
                        <span>Brush</span>
                    </li>
                    <li class="option tool" id="eraser">
                        <img src="./assets/icons/eraser.svg" alt="" />
                        <span>Eraser</span>
                    </li>
                    <li class="option">
                        <input
                            type="range"
                            id="size-slider"
                            min="1"
                            max="30"
                            value="5"
                        />
                    </li>
                </ul>
            </div>
            <div class="row colors">
                <label class="title"><b>Colors</b></label>
                <ul class="options">
                    <li class="option"></li>
                    <li class="option selected"></li>
                    <li class="option"></li>
                    <li class="option"></li>
                    <li class="option">
                        <input type="color" id="color-picker" value="#4A98F7" />
                    </li>
                </ul>
            </div>
            <div class="row buttons">
                <button class="clear-canvas">clear Image</button>
                <button class="save-img" style="display: none;">Save As Image</button>
            </div>
        </section>
        <!-- form chat -->
        <div class="chat-require">
            <div class="chat_content">
                <div class="chat_body">
                    <p>Hêlo</p>
                    <p>Hêlo</p>
                    <p>Hêlo</p>
                    <p>Hêlo</p>
                    <p>Hêlo</p>
                    <p>Hêlo</p>
                    <p>Hêlo</p>
                    <p>Hêlo</p>
                    <p>Hêlo</p>
                    <p>Hêlo</p>
                    <p>Hêlo</p>
                </div>
                <input
                    type="text"
                    class="chat_input"
                    placeholder="Type your answers here..."
                />
            </div>
        </div>
    </div>
</div>

{{#contentFor "scripts"}}
    <script src="../js/player.js"></script>
{{/contentFor}}